@import '../../../../assets/scss/theme/variables';
.title-offer {
    width: 50%;
    margin-left: 25%;
    background: white;
    font-family: Aller-Bold;
    color: $green-dark;
    font-size: 56px;
    text-transform: none !important;
}