<div class="row">
    <div class="col-md-4 service-block">
        <div class="media">
            <img src="assets/images/icon/service1.png" alt="" />
            <div class="media-body">
                <h4>Envio Gratis</h4>
                <p>En compras mayores a $499</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 service-block">
        <div class="media">
            <img src="assets/images/icon/service2.png" alt="" />
            <div class="media-body">
                <h4>Recoge en Tienda</h4>
                <p>Programa y recoge el pedido en la tienda de tu preferencia sin costo extra</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 service-block">
        <div class="media">
            <img src="assets/images/icon/service3.png" alt="" />
            <div class="media-body">
                <h4>Ofertas Exclusivas</h4>
                <p>Consulta nuestras promociones exclusivas en línea.</p>
            </div>
        </div>
    </div>
</div>