<!-- <app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb> -->
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Banners</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="bannerData">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="title">Título</label>
                                <input type="text" class="form-control" formControlName="title" id="title" placeholder="Título" required="">
                            </div>
                            <div class="col-md-4">
                                <label for="subtitle">Subtítulo</label>
                                <input type="text" class="form-control" formControlName="subtitle" id="subtitle" placeholder="Subtítulo" required="">
                            </div>
                            <div class="col-md-4">
                                <label for="path">Ruta</label>
                                <input type="text" class="form-control" formControlName="path" id="path" placeholder="Ruta" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <app-upload-file (imageSave)="onImageSave($event)"></app-upload-file>
                        </div>
                        <div class="form-row">
                            <button class="btn btn-solid btn-mercadia" (click)="onSubmit()">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->